<section class="page-header" id="page-header">
    <h1 class="project-name"><a href="{{ site.url }}" style="color: white; text-decoration: none;">{{ site.title }}</a></h1>
    <div class="social-links">
        <a href="https://www.facebook.com/akinzett" class="social-link">
            <img src="{{ site.baseurl }}/images/facebook.svg" class="svg social-icon" id="facebook-icon"/>
        </a>
        <a href="https://github.com/aidankinzett" class="social-link">
            <img src="{{ site.baseurl }}/images/github.svg" class="svg social-icon" id="github-icon"/>
        </a>
        <a href="mailto:hello@aidankinzett.com" class="social-link">
            <img src="{{ site.baseurl }}/images/noun_708615_cc.svg" class="svg social-icon" id="mail-icon"/>
        </a>
    </div>
    <br />

    <a onclick="randomiseColors()" class="btn">Randomise Colors</a>
    <script src="{{ site.baseurl }}/js/pageheader.js"></script>
</section>
