<section class="page-header">
    <h1 class="project-name">{{ site.title }}</h1>
    <h2 class="project-tagline" id="project-tagline">🇦🇺</h2>
    <a href="https://github.com/aidankinzett" class="btn">GitHub</a>
    <a href="https://twitter.com/aidankinzett" class="btn">Twitter</a>
    <a href="mailto:hello@aidankinzett.com" class="btn">Email</a>
    <script>
        emojis = ["😁", "❤️", "😊"];

        x = document.getElementById("project-tagline");
        x.innerHTML = emojis[Math.floor(Math.random() * emojis.length)];
    </script>
</section>
